%h2 Edit list

= form_for @list do |f|

  - if @list.errors.any?
    .error_messages
      %h2 Form is invalid
      %ul
        - for message in @list.errors.full_messages
          %li= message

  .field
    = f.label      :name
    = f.text_field :name
  .actions
    = f.submit :class => "btn primary"