%h2= @list.name
= link_to "Edit", edit_list_path(@list), :class => "btn"
= link_to "Delete", @list, :method => :delete, :confirm => "Delete #{@list.name}?", :class => "btn danger"

/- @list.tasks.each do |task|
/  = link_to task.name, task

%fieldset
  %legend New task
  = form_for @task do |f|

    - if @task.errors.any?
      .error_messages
        %h2 Form is invalid
        %ul
          - for message in @task.errors.full_messages
            %li= message

    .field
      = f.label      :name
      = f.text_field :name
      = f.hidden_field :list_id, :value => @list.id
    .actions
      = f.submit :class => "btn primary"