%h2= @task.name

= form_for @task do |f|

  - if @task.errors.any?
    .error_messages
      %h2 Form is invalid
      %ul
        - for message in @task.errors.full_messages
          %li= message

  .field
    = f.label      :name
    = f.text_field :name
  .field
    = f.label :status
    = f.select :status, [["Active", 1], ["In progress", 2], ["Completed", 3]]
  .actions
    = f.submit :class => "btn primary"