!!!5
%html
%head
  %title
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags


- if current_user
= "Hello #{current_user[:email]}."
- else
= link_to "Sign in", new_session_path  " | " link_to "Sign up", new_user_path

= yield